<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block titulo %}  {% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="Materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="Materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    <script type="text/javascript">
	$(document).ready(function(){
    $('.collapsible').collapsible();
	});
	</script>

    <script type="text/javascript">
	$(document).ready(function(){
    $('.sidenav').sidenav();
	});
	</script>
  
</head>
<body class="grey lighten-4">
	{% block contenido %}
	
	{% endblock %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
