<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block titulo %}  {% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="Materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="Materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    <script type="text/javascript">
	$(document).ready(function(){
    $('.collapsible').collapsible();
	});
	</script>

    <script type="text/javascript">
	$(document).ready(function(){
    $('.sidenav').sidenav();
	});
	</script>

    <script type="text/javascript">
    $(document).ready(function(){
    $('.modal').modal();
    });
  	</script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <script>
      $(document).ready(function() {
        $('#foodkind').change(function() {

          var foodkind = $('#foodkind').val();

          // Make Ajax Request and expect JSON-encoded data
          $.getJSON(
            '/get_food' + '/' + foodkind,
            function(data) {

              // Remove old options
              $('#food').find('option').remove();

              // Add new items
              $.each(data, function(key, val) {
                var option_item = '<option value="' + val + '">' + val + '</option>'
                $('#food').append(option_item);
              });
            }
          );
        });
      });
    </script>

</head>
<body class="grey lighten-4">

    {% with messages = get_flashed_messages() %}
        {%if messages%}
            {%for message in messages%}
    <div class="col s12">
	      <div class="card center">
	        <div class="card-action">
			      <div class="row">

                {{message}}

			      </div>
	        </div>
	      </div>
	    </div>
    {%endfor%}
        {%endif%}
    {% endwith %}

    <!--
    {% with messages = get_flashed_messages() %}
        {%if messages%}
            {%for message in messages%}
                {{message}}
            {%endfor%}
        {%endif%}
    {% endwith %}
-->
	{% block contenido %}
    {% endblock %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
