{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
  <nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <i class="material-icons left">child_care</i>
      <a id="logo-container" href="/" class="brand-logo">Gestión</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../usuario/matricular">Usuarios</a></li>
        <li><a href="../capacitacion/tutorias">Capacitaciones</a></li>
        <li><a href="#">Virtualizaciones</a></li>
       </ul>
    </div>

    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="../aula/crear">Crear</a></li>
        <li class="tab"><a href="../aula/reutilizar">Reutilizar</a></li>
        <li class="tab"><a href="../aula/eliminar">Eliminar</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Crear</h1>
      <div class="row center">
        <h5 class="header col s12 light">Solicitud de Creación de Aula Virtual</h5>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Información del Aula</h5>

            <div>
                <form method="POST">
                {% from "macro_forms.html" import render_field %}

                    {{ render_field(form.departamento, class='browser-default') }}

                    <!--
                <select class="browser-default">

                    {% for departamento in departamentos: %}

                    <option value={{departamento}}>{{departamento}}</option>

                    {% endfor %}

				</select>
                -->




                    {{ render_field(form.dependencia) }}
                    {{ render_field(form.nombreAula) }}
                    {{ render_field(form.nombreprofesor) }}
                    {{ render_field(form.email) }}

            </div>
          </div>
      </div>
      <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Información del Docente</h5>

            <div>

                    {{ render_field(form.nombre) }}
                    {{ render_field(form.apellido) }}
                    {{ render_field(form.dni) }}

                {{ render_field(form.rol, class='browser-default') }}

				<label>Rol</label>
                {{ render_field(form.descripcion) }}
				<label>Descripcion</label>
            </div>
            <div class="row center">
				<button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>>
		    </div>

              <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>

                </form>



          </div>
      </div>
    </div>

    </div>
    <br><br>
  </div>

 {% endblock %}