{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
  <nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <i class="material-icons left">child_care</i>
      <a id="logo-container" href="/" class="brand-logo">Gestión</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../usuario/matricular">Usuarios</a></li>
        <li><a href="../capacitacion/tutorias">Capacitaciones</a></li>
        <li><a href="#">Virtualizaciones</a></li>
       </ul>
    </div>

    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="../aula/crear">Crear</a></li>
        <li class="tab"><a href="../aula/reutilizar">Reutilizar</a></li>
        <li class="tab"><a href="../aula/eliminar">Eliminar</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Crear</h1>
      <div class="row center">
        <h5 class="header col s12 light">Solicitud de Creación de Aula Virtual</h5>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Información del Aula</h5>

            <div>
                <select class="browser-default">
					<option value="1">Departamento de Ciencias Básicas</option>
					<option value="2">Departamento de Ingeniería Civil</option>
					<option value="3">Departamento de Ingeniería Eléctrica</option>
					<option value="4">Departamento de Ingeniería Electrónica</option>
					<option value="5">Departamento de Ingeniería Industrial</option>
					<option value="6">Departamento de Ingeniería Mecánica</option>
					<option value="7">Departamento de Ingeniería Naval</option>
					<option value="8">Departamento de Ingeniería Química</option>
					<option value="9">Departamento de Ingeniería en Sistemas de Información</option>
					<option value="10">Departamento de Ingeniería Textil</option>
				</select>

				<form method="POST">
				<label>Dependencia</label>
                <input type="text" id="dependencia" name="dependencia" value="">
                <label>Nombre del aula</label>
                 <input type="text" id="nombreaula" name="nombreaula" value="">
                <label>Nombre del profesor</label>
                <input type="text" id="nombreprofesor" name="nombreprofesor" value="">
                <label>E-mail del profesor</label>
				<input type="text" id="email" name="email" value="">

            </div>
          </div>
      </div>
      <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Información del Docente</h5>

            <div>
				<label>Nombre</label>
            	<input type="text" id="nombre" name="nombre" value="">
                <label>Apellido</label>
                <input type="text" id="apellido" name="apellido" value="">
                <label>DNI</label>
                <input type="text" id="dni" name="dni" value="">
                <select class="browser-default">
					<option value="1">Docente</option>
					<option value="2">Docente a cargo</option>
					<option value="3">Auxiliar</option>
				</select>
				<label>Rol</label>
				<textarea></textarea>
				<label>Descripcion</label>
            </div>
            <div class="row center">
				<button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>>
		    </div>
			</form>
          </div>
      </div>
    </div>

    </div>
    <br><br>
  </div>

 {% endblock %}