{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
  <nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <i class="material-icons left">child_care</i>
      <a id="logo-container" href="../index.html" class="brand-logo">Gestión</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../Usuario/matricular.html">Usuarios</a></li>
        <li><a href="../Capacitacion/tutorias.html">Capacitaciones</a></li>
        <li><a href="#">Virtualizaciones</a></li>
       </ul>
    </div>
      
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="crear.html">Crear</a></li>
        <li class="tab"><a href="reutilizar.html">Reutilizar</a></li>
        <li class="tab"><a href="eliminar.html">Eliminar</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Reutilizar</h1>
      <div class="row center">
        <h5 class="header col s12 light">Solicitud de Reutilización de Aula Virtual </h5>
      </div>
      
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Información del Aula</h5>
            
            <div>
                <label>Departamento</label>
                <input type="text" />
                <label>Carrera</label>
                <input type="text" />
                <label>Nombre</label>
                <input type="text" />
                <label>Director de la carrera   </label>
                <input type="text" />
            </div>
          </div>
      </div>
      <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Se solicitan las siguientes modificaciones</h5>

            <p>Nota: se eliminarán todos los estudiantes incluyendo su participación dentro del aula (tareas, participación en foros, etc.). Los recursos y actividades del docente en el aula, NO serán eliminados.</p>
            <div class="row center">
		    	<a href="usuarios.html" class="btn-small light-blue darken-3">Enviar<i class="material-icons right">send</i></a>
		    </div>
          </div>
      </div>
    </div>

    </div>
    <br><br>
  </div>

 {% endblock %}