{% extends 'base/baseAdminSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}

	<nav class="nav-extended light-blue darken-3">
	<div class="row">
	  <div class="col s12">
	  <div class="nav-content">
	    <ul class="tabs tabs-transparent">
			<li class="tab col s6 "><a  href="../administrador/altausuarios" target="_self">Crear</a></li>
			<li class="tab col s6 active"><a class="active" href="../administrador/solicitudespendientes" target="_self">Solicitudes</a></li>
	    </ul>
	  </div>
	  </div>
	</div>
	</nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-darken-2">Solicitudes pendientes</h1>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

		<form method="POST">

        <div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Tabla de solicitudes</span>
	          <p>Aca como podran ver es otra tabla.</p>
	        </div>
	        <div class="card-action">
	          <table id="example" class="display">
				<thead>
				    <tr>
				        <th>Confirmar</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
				    </tr>
				</thead>
				<tbody>

				{%for log, per in solicitudes%}
					<tr>
                        <td>
                        <label>
                        <input type="checkbox" name="solicitud" value={{log.getIdLogin()}}>
                            <span>{{log.getMail()}}</span>
                        </label>
                        </td>
                        <td>
                            {{log.getIdLogin()}}
                        </td>
                        <td>
                            {{per.getNombre()}}
                        </td>
                        <td>
                            {{per.getApellido()}}
                        </td>
				    </tr>
				{%endfor%}
				</tbody>
			  </table>
	        </div>
	      </div>
	    </div>

			<div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Confirmar <i class="material-icons right">send</i> </button>
        </div>

<input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>

	</div>
  	</div>
  </div>

  <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
  <script type="text/javascript" src="DataTables/datatables.min.js"></script>

  <script type="text/javascript">
  	$(document).ready(function() {
	    $('#example').DataTable();
	} );

	$(document).ready(function(){
    $('select').formSelect();
  });
  </script>
{% endblock %}
