{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}

                        <script type="text/javascript">
                            function myFunction1() {

                            var x = document.getElementById("docente");
                             var y = document.getElementById("estudiante");

                                if (x.style.display == "none") {
                                    x.style.display = "block";
                                    y.style.display = "none"
                                }
                                    }

                            function myFunction2() {

                            var x = document.getElementById("docente");
                             var y = document.getElementById("estudiante");

                                if (y.style.display == "none") {
                                    x.style.display = "none";
                                    y.style.display = "block"
                                }
                                    }

                         </script>

   <nav class="nav-extended light-blue darken-3">
     <div class="row">
      <div class="col s12">
		<div class="nav-content">
		  <ul class="tabs tabs-transparent">
    	    <li class="tab col s6 active"><a class="active" href="../capacitacion/microtalleres" target="_self">Cursos y Talleres</a></li>
            <li class="tab col s6"><a href="../capacitacion/tutorias" target="_self">Tutorías</a></li>
          </ul>
		</div>
	  </div>
	</div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-darken-2">Inscripción a Cursos y Talleres</h1>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <form method="POST">
              {% from "macro_forms.html" import render_field %}

              <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Usted es:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                 <div>
                     <p>
                      <label>
                        <input class="with-gap" name="group1" id = "docentecheck" type="radio" onchange="myFunction1()" />
                        <span>Docente</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input class="with-gap" name="group1" id = "estudiantecheck" type="radio" onchange="myFunction2()" />
                        <span>Estudiante</span>
                      </label>
                    </p>

			      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


              <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Talleres:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                 <div>

                     <div style="display:none;" id="docente">
                     {%for microtaller in microtalleres_docentes%}
                     <ul>
                          <li>
                            <label>
                              <input class="with-gap" type="radio" id={{microtaller.getIdMicrotaller()}} name="microtaller" value={{microtaller.getIdMicrotaller()}} >
                                <span>{{microtaller.getNombreMicrotaller()}}</span>
                            </label>
                          </li>
                    </ul>
                     {%endfor%}
                    </div>
                     <div style="display:none;" id="estudiante">
                        {%for microtaller in microtalleres_estudiantes%}
                         <ul>
                          <li>
                            <label>
                                <input class="with-gap" type="radio" id={{microtaller.getIdMicrotaller()}} name="microtaller" value={{microtaller.getIdMicrotaller()}} >
                                <span>{{microtaller.getNombreMicrotaller()}}</span>
                            </label>
                          </li>
                    </ul>
                         {%endfor%}
                     </div>
			      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Datos personales</span>
	        </div>
	        <div class="card-action">
			  <div class="row">
			    <div class="col s12">
			      <div class="row">

			        <div class="input-field col s6">
                        {{ render_field(form.nombre, onkeypress="return validaTexto(event)", pattern="[A-Z a-z .áéíóúÁÉÍÓÚ]+", title="Solo letras") }}

			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.apellido, onkeypress="return validaTexto(event)", pattern="[A-Z a-z .áéíóúÁÉÍÓÚ]+", title="Solo letras") }}
			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.email) }}
			        </div>
			        <div class="input-field col s6">
                        {{ render_field(form.telefono) }}
			        </div>
			        <div class="input-field col s12">
                        {{ render_field(form.dni, onkeypress="return validaNumeros(event)") }}
			        </div>

					{{ render_field(form.departamento, onchange="show_options()", class='browser-default') }}

                      <select style="display:none;" class="browser-default" id="carrera" name="carrera">
                          <option value="0">nada</option>
				        </select>

					<div class="input-field col s12">
                        {{ render_field(form.motivo) }}
			        </div>

			    </div>
			  </div>
	        </div>
	      </div>
	    </div>



        <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
        </div>
      </div>
              <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
    </div>

    </div>
    <br><br>

  </div>

{% endblock %}
