{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}

                        <script type="text/javascript">
                            function myFunction1() {

                            var x = document.getElementById("docente");
                             var y = document.getElementById("estudiante");

                                if (x.style.display == "none") {
                                    x.style.display = "block";
                                    y.style.display = "none"
                                }
                                    }

                            function myFunction2() {

                            var x = document.getElementById("docente");
                             var y = document.getElementById("estudiante");

                                if (y.style.display == "none") {
                                    x.style.display = "none";
                                    y.style.display = "block"
                                }
                                    }

                         </script>

  <nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Gestión</a>
     
        <ul id="slide-out" class="sidenav sidenav-fixed">
  <div class="nav-title"><img src="\static\silversonic.jpg"width="250" height="200" ></div>
    
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Usuarios<i class="material-icons light-blue-text left">person</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
          <a href="../usuario/matricular"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Matricular</p></a>
          </li>
              </ul>
            </div>
          </li>
        </ul>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Aulas<i class="material-icons light-blue-text left">group</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
        <a href="../aula/crear"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Crear</p></a>
        </li>
        <li>
        <a href="../aula/reutilizar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Reutilizar</p></a>
        </li>
        <li>
        <a href="../aula/eliminar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Eliminar</p></a>
        </li>
              </ul>
            </div>
          </li>
        </ul>
    </li>
    
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Capacitaciones<i class="material-icons light-blue-text left">computer</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
        <a href="../capacitacion/tutorias"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Tutorias</p></a>
        </li>
        <li>
        <a href="../capacitacion/microtalleres"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Microtalleres</p></a>
        </li>
              </ul>
            </div>
          </li>
        </ul>
    </li>
    
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Virtualizaciones<i class="material-icons light-blue-text left">airplay</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
        <a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Solicitud</p></a>
        </li>
        <li>
        <a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Actualizacion</p></a>
        </li>
              </ul>
            </div>
          </li>
        </ul>
    </li>

  </ul>
	
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
      
    </div>
    <div class="row">
      <div class="col s12">
		<div class="nav-content">
		  <ul class="tabs tabs-transparent">
      	    <li class="tab col s6"><a href="../capacitacion/tutorias" target="_self">Tutoría / Capacitación</a></li>
    	    <li class="tab col s6 active"><a class="active" href="../capacitacion/microtalleres" target="_self">Microtalleres</a></li>
		  </ul>
		</div>
	  </div>
	</div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Inscripción a Microtalleres</h1>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <form method="POST">
              {% from "macro_forms.html" import render_field %}

              <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Usted es:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                 <div>
                     <p>
                      <label>
                        <input class="with-gap" name="group1" id = "docentecheck" type="radio" onchange="myFunction1()" />
                        <span>Docente</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input class="with-gap" name="group1" id = "estudiantecheck" type="radio" onchange="myFunction2()" />
                        <span>Estudiante</span>
                      </label>
                    </p>

			      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


              <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Microtalleres:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                 <div>
                    <!--
                     <div style="display:none;" id="docente">
                     {%for microtaller in microtalleres_docentes%}
                     <ul>
                          <li>
                            <label for={{microtaller.getIdMicrotaller()}}>{{microtaller.getNombreMicrotaller()}}</label>
                              <input style="opacity: 1; position: relative;" type="radio" id={{microtaller.getIdMicrotaller()}} name="microtaller" value={{microtaller.getIdMicrotaller()}} >
                          </li>
                    </ul>
                     {%endfor%}
                    </div>
                     <div style="display:none;" id="estudiante">
                        {%for microtaller in microtalleres_estudiantes%}
                         <ul>
                          <li>
                            <label for={{microtaller.getIdMicrotaller()}}>{{microtaller.getNombreMicrotaller()}}</label>
                            <input style="opacity: 1; position: relative;" type="radio" id={{microtaller.getIdMicrotaller()}} name="microtaller" value={{microtaller.getIdMicrotaller()}} >
                          </li>
                    </ul>
                         {%endfor%}
                     </div>
                    -->


                     <div style="display:none;" id="docente">
                     {%for microtaller in microtalleres_docentes%}
                     <ul>
                          <li>
                            <label>
                              <input class="with-gap" type="radio" id={{microtaller.getIdMicrotaller()}} name="microtaller" value={{microtaller.getIdMicrotaller()}} >
                                <span>{{microtaller.getNombreMicrotaller()}}</span>
                            </label>
                          </li>
                    </ul>
                     {%endfor%}
                    </div>
                     <div style="display:none;" id="estudiante">
                        {%for microtaller in microtalleres_estudiantes%}
                         <ul>
                          <li>
                            <label>
                                <input class="with-gap" type="radio" id={{microtaller.getIdMicrotaller()}} name="microtaller" value={{microtaller.getIdMicrotaller()}} >
                                <span>{{microtaller.getNombreMicrotaller()}}</span>
                            </label>
                          </li>
                    </ul>
                         {%endfor%}
                     </div>



			      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Datos personales</span>
	        </div>
	        <div class="card-action">
			  <div class="row">
			    <div class="col s12">
			      <div class="row">
			        
			        <div class="input-field col s6">
                        {{ render_field(form.nombre) }}

			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.apellido) }}
			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.email) }}
			        </div>
			        <div class="input-field col s6">
                        {{ render_field(form.telefono) }}
			        </div>
			        <div class="input-field col s12">
                        {{ render_field(form.dni) }}
			        </div>

					{{ render_field(form.departamento, onchange="show_options()", class='browser-default') }}

                      <select style="display:none;" class="browser-default" id="carrera" name="carrera">
				        </select>

					<div class="input-field col s12">
                        {{ render_field(form.motivo) }}
			        </div>
					
			    </div>
			  </div>
	        </div>
	      </div>
	    </div>
		


        <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
        </div>
      </div>
              <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
    </div>

    </div>
    <br><br>

  </div>

{% endblock %}
