{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
  <nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Gestión</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../usuario/matricular">Usuarios</a></li>
        <li><a href="../aula/crear">Aulas</a></li>
        <li><a href="#">Virtualizaciones</a></li>
      </ul>

      <ul id="slide-out" class="sidenav">
	<div class="nav-title"></div>
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Usuarios<i class="material-icons light-blue-text left">person</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
					<a href="../usuario/matricular"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Matricular</p></a>
					</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Aulas<i class="material-icons light-blue-text left">group</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="../aula/crear"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Crear</p></a>
				</li>
				<li>
				<a href="../aula/reutilizar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Reutilizar</p></a>
				</li>
				<li>
				<a href="../aula/eliminar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Eliminar</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Virtualizaciones<i class="material-icons light-blue-text left">airplay</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Solicitud</p></a>
				</li>
				<li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Actualizacion</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

	</ul>
	
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
      
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="../capacitacion/tutorias">Tutoría / Capacitación</a></li>
        <li class="tab"><a href="../capacitacion/microtalleres">Microtalleres</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Tutoría / Capacitación</h1>
      <div class="row center">
        <h5 class="header col s12 light">Solicitud de turnos de tutoría / Capacitación</h5>
      </div>
      
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <form method="POST">
              {% from "macro_forms.html" import render_field %}
      <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Describa brevemente el motivo:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                    {{ render_field(form.motivo) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Datos personales</span>
	        </div>
	        <div class="card-action">
			  <div class="row">
			    <div class="col s12">
			      <div class="row">
			        
			        <div class="input-field col s6">
                        {{ render_field(form.nombre) }}

			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.apellido) }}
			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.email) }}
			        </div>
			        <div class="input-field col s6">
                        {{ render_field(form.telefono) }}
			        </div>
			        <div class="input-field col s12">
                        {{ render_field(form.dni) }}
			        </div>

					{{ render_field(form.departamento, class='browser-default') }}
                      {{ render_field(form.carrera, class='browser-default') }}
                      {{ render_field(form.rol, class='browser-default') }}

					<div class="input-field col s12">
                        {{ render_field(form.fecha) }}
			    </div>
			  </div>
	        </div>
	      </div>
	    </div>

        <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
        </div>
      </div>
              <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
    </div>

    </div>

    <br><br>

  </div>

{% endblock %}