{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
                        <script type="text/javascript">
                            function mostrar_grupo_individual() {

                            var x = document.getElementById("grupal2");
                            var g = document.getElementById("grupal");

                                if (x.style.display == "block") {
                                    x.style.display = "none";
                                    g.value="1"
                                    g.required = false;
                                }
                             }

                            function mostrar_grupo_grupal() {

                            var x = document.getElementById("grupal2");
                            var g = document.getElementById("grupal");

                                if (x.style.display == "none") {
                                    x.style.display = "block";
                                    g.value=""
                                    g.required = true;
                                }
                            }
                        </script>

   <nav class="nav-extended light-blue darken-3">
    <div class="row">
      <div class="col s12">
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab col s6"><a href="../capacitacion/microtalleres" target="_self">Cursos y Talleres</a></li>
            <li class="tab col s6 active"><a class="active" href="../capacitacion/tutorias" target="_self">Tutorías</a></li>
        </ul>
      </div>
      </div>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-darken-2">Solicitud de turnos de Capacitación</h1>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <form method="POST">
              {% from "macro_forms.html" import render_field %}
      <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Describa brevemente el motivo:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                    {{ render_field(form.motivo) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Datos personales</span>
	        </div>
	        <div class="card-action">
			  <div class="row">
			    <div class="col s12">
			      <div class="row">

			        <div class="input-field col s6">
                        {{ render_field(form.nombre, onkeypress="return validaTexto(event)", pattern="[A-Z a-z .áéíóúÁÉÍÓÚ]+", title="Solo letras") }}

			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.apellido, onkeypress="return validaTexto(event)", pattern="[A-Z a-z .áéíóúÁÉÍÓÚ]+", title="Solo letras") }}
			        </div>
					<div class="input-field col s6">
                        {{ render_field(form.email) }}
			        </div>
			        <div class="input-field col s6">
                        {{ render_field(form.telefono) }}
			        </div>
			        <div class="input-field col s12">
                        {{ render_field(form.dni, onkeypress="return validaNumeros(event)") }}
			        </div>

					{{ render_field(form.departamento, onchange="show_options()", class='browser-default') }}

                      <select style="display:none;" class="browser-default" id="carrera" name="carrera">
                          <option value="0">nada</option>
				        </select>
                      {{ render_field(form.rol, class='browser-default') }}
			  </div>
	        </div>
	      </div>
	    </div>
      </div>
    </div>

    <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">La Capacitación será:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                    <p>
                      <label>
                        <input class="with-gap" name="group1" id = "individual" onchange="mostrar_grupo_individual()" type="radio" />
                        <span>Individual</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input class="with-gap" name="group1" type="radio" onchange="mostrar_grupo_grupal()" />
                        <span>Grupal</span>
                      </label>
                    </p>

                    <div style="display:none;" id = "grupal2" >
                        {{ render_field(form.grupal) }}
			        </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


       <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Horarios de Capacitaciónes:</span>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">
                    <div id="horarios" class="section scrollspy">
                    <table class="striped">
                            <thead>
                              <tr>
                                  <th>DÍAS</th>
                                  <th>HORARIOS</th>
                                  <th>LUGAR</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td><strong>Lunes</strong></td>
                                <td>18 a 21</td>
                                <td>Medrano, Secretaría Académica</td>
                              </tr>
                              <tr>
                                <td><strong>Martes</strong></td>
                                <td>17 a 19</td>
                                <td>Campus, Sala de Profesores - (<strong>martes por medio, consultar</strong>)</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>18 a 21</td>
                                <td>Medrano, Secretaría Académica</td>
                              </tr>
                              <tr>
                                <td><strong>Miércoles</strong></td>
                                <td>12 a 16</td>
                                <td>Campus, Sala de Profesores</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>18 a 21</td>
                                <td>Medrano, Secretaría Académica</td>
                              </tr>
                              <tr>
                                <td><strong>Jueves</strong></td>
                                <td>18 a 21</td>
                                <td>Posgrado, Primer Piso (<strong>consultar</strong>) / Medrano, Secretaría Académica</td>
                              </tr>
                              <tr>
                                <td><strong>Viernes</strong></td>
                                <td>17 a 19</td>
                                <td>Campus, Sala de Profesores</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>18 a 21</td>
                                <td>Medrano, Secretaría Académica</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


              <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <span class="card-title">Fecha de la Capacitación:</span>
              <a class="red-text text-darken-2" href="#horarios">Seleccione 3 fechas posibles (de acuerdo al rango horario de tutoría) para realizar la misma</a>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12">
                <div class="row">

                <div class="input-field col s12">
                    <div class="input-field col s3">
                        {{ render_field(form.dia1, class="datepicker") }}
			        </div>
                    <div class="input-field col s3">
                    {{ render_field(form.dia1_hora1, class="timepicker", step="1") }}
			        </div>
                    <div class="input-field col s3">
                    {{ render_field(form.dia1_hora2, class="timepicker") }}
			        </div>
			    </div>

                    <div class="input-field col s12">
                    <div class="input-field col s3">
                        {{ render_field(form.dia2, class="datepicker") }}
			        </div>
                    <div class="input-field col s3">
                    {{ render_field(form.dia2_hora1, class="timepicker") }}
			        </div>
                    <div class="input-field col s3">
                    {{ render_field(form.dia2_hora2, class="timepicker") }}
			        </div>
			    </div>

                    <div class="input-field col s12">
                    <div class="input-field col s3">
                        {{ render_field(form.dia3, class="datepicker") }}
			        </div>
                    <div class="input-field col s3">
                    {{ render_field(form.dia3_hora1, class="timepicker") }}
			        </div>
                    <div class="input-field col s3">
                    {{ render_field(form.dia3_hora2, class="timepicker") }}
			        </div>
			    </div>

                    <p>Importante: el equipo de Capacitación del Campus Virtual se pondrá en contacto por correo
                        electrónico para acordar el horario de su Capacitación</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


              <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
        </div>

<input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
    </div>

        </div>
    <br><br>

  </div>

{% endblock %}
