{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
	<nav class="nav-extended light-blue darken-3">
	<div class="nav-wrapper">
	  <div class="nav-wrapper container">
	  <a id="logo-container" href="/" class="brand-logo">Gestión</a>
	  
	  <ul class="right hide-on-med-and-down">
	  <li><a href="../aula/crear">Aulas</a></li>
        <li><a href="../capacitacion/tutorias">Capacitaciones</a></li>
        <li><a href="#">Virtualizaciones</a></li>
	  </ul>

	 <ul id="slide-out" class="sidenav">
	<div class="nav-title"></div>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Aulas<i class="material-icons light-blue-text left">group</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="../aula/crear"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Crear</p></a>
				</li>
				<li>
				<a href="../aula/reutilizar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Reutilizar</p></a>
				</li>
				<li>
				<a href="../aula/eliminar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Eliminar</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Capacitaciones<i class="material-icons light-blue-text left">computer</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="../capacitacion/tutorias"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Tutorias</p></a>
				</li>
				<li>
				<a href="../capacitacion/microtalleres"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Microtalleres</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Virtualizaciones<i class="material-icons light-blue-text left">airplay</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Solicitud</p></a>
				</li>
				<li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Actualizacion</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

	</ul>
	
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
    </div>

	<div class="nav-content">
	  <ul class="tabs tabs-transparent">
	    <li class="tab"><a href="usuario/matricular">Matricular</a></li>
	  </ul>
	</div>
	</nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Matricular</h1>
      <div class="row center">
        <h5 class="header col s12 light">Solicitud de Matriculación de Usuarios</h5>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
		  {% from "macro_forms.html" import render_field %}
		  <form method="POST" enctype="multipart/form-data">

      	<div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Video explicativo</span>
	          <p>Instructivo para completar la planilla de matriculación de usuarios.</p>
	        </div>
	        <div class="card-action">
	          <video src=""></video>
	        </div>
	      </div>
	    </div>

      	<div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Descargar planilla</span>
	          <p>Si lo necesita, aquí usted puede obtener la planilla de Excel que debe completar.</p>
	        </div>
	        <div class="card-action">
	          <a href="/return_file/" class="btn-small light-blue darken-3"><i class="material-icons">cloud</i></a>
	        </div>
	      </div>
	    </div>

	    <div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Subir planilla</span>
	          <p>Aquí usted debe subir su archivo Excel con la lista de usuarios a matricular.</p>
	        </div>
	        <div class="card-action">
				<!-- <input type="file" name="file"> -->
	          <div class="file-field input-field">
		        <div class="btn light-blue darken-3">
		          <span>Excel</span>
		          	<input type="file" name="file" required>
		        </div>
		          <div class="file-path-wrapper">
		            <input class="file-path validate" type="text">
		          </div>
		        </div>
		   </div>
	      </div>
	    </div>

	    <div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Pedido</span>
	          <p>Indique la procedencia del pedido.</p>
	        </div>
	        <div class="card-action">
	          {{ render_field(form.departamento, class='browser-default') }}
				{{ render_field(form.carrera, class='browser-default') }}
	        </div>
	      </div>
	    </div>

	    <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
		</div>
			  <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
	</div>
  	</div>
  </div>

{% endblock %}
