{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
	<nav class="nav-extended light-blue darken-3">
	<div class="row">
	  <div class="col s12">
	  <div class="nav-content">
	    <ul class="tabs tabs-transparent">
	      <li class="tab col s12 active"><a class="active" href="../usuario/matricular" target="_self">Matricular</a></li>
	    </ul>
	  </div>
	  </div>
	</div>
	</nav>
	
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-darken-2">Solicitud de Matriculación de Usuarios</h1>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
		  {% from "macro_forms.html" import render_field %}
		  <form method="POST" enctype="multipart/form-data">

      	<div class="col s12">
	      <div class="card">
	        <div class="card-content">
	          <span class="card-title">Video explicativo</span>
	          <p>Instructivo para completar la planilla de matriculación de usuarios.</p>
	        </div>
	        <div class="card-action">
	          <!--<video src=""></video>-->
				<div class="video-container">
				<iframe src="https://www.youtube.com/embed/e0UWT0dFSQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	        	</div>
			</div>
	      </div>
	    </div>

      	<div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Descargar planilla</span>
	          <p>Si lo necesita, aquí usted puede obtener la planilla de Excel que debe completar.</p>
	        </div>
	        <div class="card-action">
	          <a href="/return_file/" class="btn-small light-blue darken-3"><i class="material-icons">cloud</i></a>
	        </div>
	      </div>
	    </div>

	    <div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Subir planilla</span>
	          <p>Aquí usted debe subir su archivo Excel con la lista de usuarios a matricular.</p>
	        </div>
	        <div class="card-action">
				<!-- <input type="file" name="file"> -->
	          <div class="file-field input-field">
		        <div class="btn light-blue darken-3">
		          <span>Excel</span>
		          	<input type="file" name="file" required>
		        </div>
		          <div class="file-path-wrapper">
		            <input class="file-path validate" type="text">
		          </div>
		        </div>
		   </div>
	      </div>
	    </div>

	    <div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title">Pedido</span>
	          <p>Indique la procedencia del pedido.</p>
	        </div>
	        <div class="card-action">
	          {{ render_field(form.departamento, onchange="show_options()", class='browser-default') }}

                      <select style="display:none;" class="browser-default" id="carrera" name="carrera">
				        </select>

	        </div>
	      </div>
	    </div>

	    <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
		</div>
			  <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
	</div>
  	</div>
  </div>

{% endblock %}
