{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
  <nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <i class="material-icons left">child_care</i>
      <a id="logo-container" href="/" class="brand-logo">Gestión</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../aula/crear">Aulas</a></li>
        <li><a href="../capacitacion/tutorias">Capacitaciones</a></li>
        <li><a href="#">Virtualizaciones</a></li>
       </ul>
    </div>

    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#">Matricular</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Matricular</h1>
      <div class="row center">
        <h5 class="header col s12 light">Solicitud de Matriculación de Usuarios</h5>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Descargar planilla</h5>
            <p>Si lo necesita, aquí usted puede obtener la planilla de Excel que debe completar</p>

            <div class="row center">
              <a href="/return_file/" class="btn-small light-blue darken-3"><i class="material-icons">cloud</i></a>

              <!--
              <a href="../Archivos/Formulario_de_matriculacion.xlsx" class="btn-small light-blue darken-3"><i class="material-icons">cloud</i></a>
		      -->
            </div>
          </div>
          <div class="icon-block">
            <h5 class="center">Subir planilla</h5>
            <p>Aquí usted debe subir su archivo Excel con la lista de usuarios a matricular</p>

            <div class="row center">
               <input class="btn-small light-blue darken-3" accept=".xls, .xlsx" type="file">
		        </div>
          </div>
      </div>
      <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Indique la procedencia del pedido</h5>

            <div>
                <label>Departamento</label>
                <input type="text" />
                <label>Carrera</label>
                <input type="text" />
            </div>
            <div class="row center">
		    	<a href="usuarios.html" class="btn-small light-blue darken-3">Enviar<i class="material-icons right">send</i></a>
		    </div>
          </div>
      </div>
    </div>

    </div>
    <br><br>
  </div>
{% endblock %}