{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}

  <nav class="light-blue darken-3 " role="navigation">

	<div class="nav-wrapper container ">
	
	<ul id="slide-out" class="sidenav">
		<div class="nav-title"><img src="\static\logo-ead.png"width="280" height="130" ></div>
		{% if usuario == '' %}
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
			<li>
			    <a  href="login/login" class="collapsible-header">Iniciar sesion<i class="material-icons light-blue-text left">account_circle</i></a>
          </li>
        </ul>
		</li>
		{% else %}
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
			<li>
			    <a  href="/logout" class="collapsible-header">Cerrar sesion<i class="material-icons light-blue-text left">directions_run</i></a>
          </li>
        </ul>
		</li>
		{% endif %}

		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Usuarios<i class="material-icons light-blue-text left">person</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
					<a href="usuario/matricular"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Matricular</p></a>
					</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Aulas<i class="material-icons light-blue-text left">group</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="aula/crear"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Crear</p></a>
				</li>
				<li>
				<a href="aula/reutilizar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Reutilizar</p></a>
				</li>
				<li>
				<a href="aula/eliminar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Eliminar</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Capacitaciones<i class="material-icons light-blue-text left">computer</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="capacitacion/tutorias"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Tutorias</p></a>
				</li>
				<li>
				<a href="capacitacion/microtalleres"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Microtalleres</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
		
		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Virtualizaciones<i class="material-icons light-blue-text left">airplay</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Solicitud</p></a>
				</li>
				<li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Actualizacion</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

	</ul>
	
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

	  <a id="logo-container" class="brand-logo">Gestión</a>

		{% if usuario == '' %}
		<a href="login/login"><i class="material-icons right">account_circle</i></a>
		{% else %}
		<a href="/logout"><i class="material-icons right">directions_run</i></a>
		{% endif %}
    </div>
  </nav>

	<!--
	<div class="col s12">
	      <div class="card right">
	        <div class="card-content">
	          <span class="card-title"><i class="material-icons center s12">account_circle</i></span>
	        </div>
	        <div class="card-action">
			      <div class="row">
			        <div class="input-field col s6">
                        {{ usuario }}
			        </div>
			      </div>
	        </div>
	      </div>
	    </div>
	-->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Campus Virtual</h1>
      <div class="row center">
        <h5 class="header col s12 light">Gestión de pedidos - Educación a distancia</h5>
      </div>
      <br><br>
    </div>
  </div>

  <div class="section">
    <div class="mdl-grid card-centered">	
	  <div class="row">
	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">person</i>
	          <span class="card-title">Usuarios</span>
	          <p>Formularios para la gestión de usuarios en las aulas virtuales.</p>
	        </div>
	        <div class="card-action">
	          <a href="usuario/matricular" class="btn-small btn-block light-blue darken-3">Matricular</a>
	        </div>
	      </div>
	    </div>

	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">group</i>
	          <span class="card-title">Aulas</span>
	          <p>Contempla los pasos administrativos para la gestión de un espacio curricular en una aula virtual.</p>
	        </div>
	        <div class="card-action ">
	          <a href="aula/crear" class="btn-small btn-block light-blue darken-3">Crear</a>
              <div class="separador"></div>
			  <a href="aula/reutilizar" class="btn-small btn-block light-blue darken-3">Reutilizar</a>
			  <div class="separador"></div>
              <a href="aula/eliminar" class="btn-small btn-block light-blue darken-3">Eliminar</a>
			</div>
	      </div>
	    </div>

	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">computer</i>
	          <span class="card-title">Capacitaciones</span>
	          <p>El Campus Virtual brinda capacitación constante a la comunidad educativa de la UNLa.</p>
	        </div>
	        <div class="card-action">
	          <a href="capacitacion/tutorias" class="btn-small btn-block light-blue darken-3">Tutoría / Capacitación</a>
              <div class="separador"></div>
			  <a href="capacitacion/microtalleres" class="btn-small btn-block light-blue darken-3">Microtalleres</a>
			</div>
	      </div>
	    </div>
	    
	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">airplay</i>
	          <span class="card-title">Virtualizaciones</span>
	          <p>Formularios para la solicitud y actualización de virtualización de unidades curriculares.</p>
	        </div>
	        <div class="card-action">
	          <a href="#" class="btn-small btn-block light-blue darken-3">Solicitud de virtualizacion</a>
              <div class="separador"></div>
			  <a href="#" class="btn-small btn-block light-blue darken-3">Actualizacion (U.C)</a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
  </div>

  <br><br>
{% endblock %}
