{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}

  <nav class="light-blue darken-3 " role="navigation">
		 <div class="left"><img src="\static\logo-ead-blanco.png"width="130" height="55" style="padding-left: 15px; padding-top: 5px;"></div>

	<div class="nav-wrapper container ">

	<!--	<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
	  <!--	<a id="logo-container" class="brand-logo center">GESTOR DE PEDIDOS</a> -->
		<h6 id="logo-container" class="hide-on-small-only brand-logo truncate center">GESTOR DE PEDIDOS</h6>

		{% if usuario == '' %}
		<a class="right" href="login/login">Entrar<i class="material-icons right">account_circle</i></a>
		{% else %}
		<a class="right" href="/logout">Salir<i class="material-icons right">directions_run</i></a>
		{% endif %}
		{% if permiso_usuario == 1 or permiso_usuario == 2 %}
		<a class="right" href="administrador/admin">Estadisticas<i class="material-icons right">settings</i></a>
		{% endif %}
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h4 class="header center blue-text text-darken-2">Dirección de Educación a Distancia</h4>
      <div class="row center">
        <h6 class="col s12 blue-text">Brindar servicios y asesoramiento para la puesta en marcha</h6>
		<h6 class="col s12 blue-text">de propuestas educativas a distancia y de apoyo a la presencialidad,</h6>
		<h6 class="col s12 blue-text">de uso de tecnologías en las aulas de la Universidad y de Organismos externos.</h6>

      </div>
      <br><br>
    </div>
  </div>

  <div class="section">
    <div class="mdl-grid card-centered">	
	  <div class="row">
	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">people</i>
	          <span class="card-title">Usuarios</span>
	         <!--  <p>Formularios para la gestión de usuarios en las aulas virtuales.</p> -->
	        </div>
	        <div class="card-action">
	          <a href="usuario/matricular" class="btn-small btn-block light-blue darken-3">Matricular</a>
	        </div>
	      </div>
	    </div>

	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">computer</i>
	          <span class="card-title">Aulas</span>
	        <!--  <p>Contempla los pasos administrativos para la gestión de un espacio curricular en una aula virtual.</p> -->
	        </div>
	        <div class="card-action ">
	          <a href="aula/crear" class="btn-small btn-block light-blue darken-3">Crear</a>
              <div class="separador"></div>
			  <a href="aula/reutilizar" class="btn-small btn-block light-blue darken-3">Reutilizar</a>
			  <div class="separador"></div>
              <a href="aula/eliminar" class="btn-small btn-block light-blue darken-3">Eliminar</a>
			</div>
	      </div>
	    </div>

	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">local_library</i>
	          <span class="card-title">Capacitaciones</span>
	          <!-- <p>El Campus Virtual brinda capacitación constante a la comunidad educativa de la UNLa.</p> -->
	        </div>
	        <div class="card-action">
	          <a href="capacitacion/microtalleres" class="btn-small btn-block light-blue darken-3">Cursos y Talleres</a>
              <div class="separador"></div>
			  <a href="capacitacion/tutorias" class="btn-small btn-block light-blue darken-3">Tutorías</a>
			</div>
	      </div>
	    </div>
	    
	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">airplay</i>
	          <span class="card-title">Virtualizaciones</span>
	         <!-- <p>Formularios para la solicitud y actualización de virtualización de unidades curriculares.</p> -->
	        </div>
	        <div class="card-action">
	          <a href="#" class="btn-small btn-block light-blue darken-3">Materiales</a>
              <div class="separador"></div>
			  <a href="#" class="btn-small btn-block light-blue darken-3">Actualización</a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
  </div>

  <br><br>
{% endblock %}
