{% extends 'base/base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
  <div class="navbar-fixed">
  	<nav class="light-blue darken-3" role="navigation">
	  <div class="nav-wrapper container">
	    <i class="material-icons left">child_care</i>
	    <a id="logo-container" class="brand-logo">Gestión</a>
	  </div>
  	</nav>
  </div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Campus Virtual</h1>
      <div class="row center">
        <h5 class="header col s12 light">Gestión de pedidos - Educación a distancia</h5>
      </div>
      <br><br>
    </div>
  </div>

  <div class="section">
    <div class="mdl-grid card-centered">	
	  <div class="row">
	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">person</i>
	          <span class="card-title">Usuarios</span>
	          <p>Formularios para la gestión de usuarios en las aulas virtuales.</p>
	        </div>
	        <div class="card-action">
	          <a href="Usuario/matricular.html" class="btn-small light-blue darken-3">Matricular</a>
	        </div>
	      </div>
	    </div>

	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">group</i>
	          <span class="card-title">Aulas</span>
	          <p>Contempla los pasos administrativos para la gestión de un espacio curricular en una aula virtual.</p>
	        </div>
	        <div class="card-action">
	          <a href="Aula/crear.html" class="btn-small light-blue darken-3">Crear</a>
			  <a href="Aula/reutilizar.html" class="btn-small light-blue darken-3">Reutilizar</a>
			  <a href="Aula/eliminar.html" class="btn-small light-blue darken-3">Eliminar</a>
			</div>
	      </div>
	    </div>

	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">computer</i>
	          <span class="card-title">Capacitaciones</span>
	          <p>El Campus Virtual brinda capacitación constante a la comunidad educativa de la UNLa.</p>
	        </div>
	        <div class="card-action">
	          <a href="Capacitacion/tutorias.html" class="btn-small light-blue darken-3">Tutoría / Capacitación</a>
			  <a href="Capacitacion/microtalleres.html" class="btn-small light-blue darken-3">Microtalleres</a>
			</div>
	      </div>
	    </div>
	    
	    <div class="col s12 m3">
	      <div class="card small">
	        <div class="card-content">
	          <i class="material-icons light-blue-text right">airplay</i>
	          <span class="card-title">Virtualizaciones</span>
	          <p>Formularios para la solicitud y actualización de virtualización de unidades curriculares.</p>
	        </div>
	        <div class="card-action">
	          <a href="#" class="btn-small light-blue darken-3">Solicitud de virtualizacion</a>
			  <a href="#" class="btn-small light-blue darken-3">Actualizacion (U.C)</a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
  </div>

  <br><br>

{% endblock %}