{% extends 'base/baseSinFooter.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
<nav class="nav-extended light-blue darken-3">
    <div class="nav-wrapper">
      <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Gestión</a>

      <ul id="slide-out" class="sidenav sidenav-fixed">
	  <div class="nav-title"><img src="\static\logo-ead.png"width="280" height="130" ></div>

		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Usuarios<i class="material-icons light-blue-text left">person</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
					<a href="../usuario/matricular"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Matricular</p></a>
					</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Aulas<i class="material-icons light-blue-text left">group</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="../aula/crear"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Crear</p></a>
				</li>
				<li>
				<a href="../aula/reutilizar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Reutilizar</p></a>
				</li>
				<li>
				<a href="../aula/eliminar"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Eliminar</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Capacitaciones<i class="material-icons light-blue-text left">computer</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="../capacitacion/tutorias"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Capacitación</p></a>
				</li>
				<li>
				<a href="../capacitacion/microtalleres"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Cursos y Talleres</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

		<li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Virtualizaciones<i class="material-icons light-blue-text left">airplay</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Solicitud</p></a>
				</li>
				<li>
				<a href="#"><i class="material-icons light-blue-text left">lens</i><p class="blue-text text-darken-2">Actualizacion</p></a>
				</li>
              </ul>
            </div>
          </li>
        </ul>
		</li>

	</ul>

      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    </div>

    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Iniciar sesión</h1>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <form method="POST">
              {% from "macro_forms.html" import render_field %}
	    <div class="col s12">
	      <div class="card center">
	        <div class="card-content">
	          <span class="card-title"><i class="material-icons center s12">account_circle</i></span>
	        </div>
	        <div class="card-action">
			      <div class="row">
			        <div class="input-field col s12">
                        {{ render_field(form.usuario) }}
			        </div>
			        <div class="input-field col s12">
                        {{ render_field(form.contrasenia) }}
			        </div>
			      </div>
	        </div>
	      </div>
	    </div>

	  <div class="row center">
		  <button id="boton" type="submit" value="submit" class="btn-small light-blue darken-3"> Enviar <i class="material-icons right">send</i> </button>
      </div>
              <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
		  </form>
    </div>

    </div>
    <br><br>
  </div>

{% endblock %}
